@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <strong>
            Fakultet tehnickih nauka u Novom Sadu<br />
        </strong>
        <strong>
            Razvoj Cloud aplikacija u pametnim mrežama<br />
        </strong>
        <strong>  
            Reddit<br />
        </strong>
</address>

    <address>
        <strong>Aleksandar Antonijev:</strong>antonijevaki@gmail.com<br />
        <strong>Bojan Skopljak:</strong> bojanking8@gmail.com<br />
        <strong>Aleksandar Vukomanović:</strong>aleksandarukomanovic@gmail.com<br />
        <strong>Lazar Branković:</strong> lakibrankovic01@gmail.com<br />
    </address>
</main>