@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="projectTitle">
        <h1 id="projectTitle">Forumski Sistem</h1>
        <p class="lead">Implementirajte sistem za kreiranje i upravljanje forumski temama i komentarima sa podrškom za notifikacije i proveru dostupnosti servisa.</p>
        <p><a href="/Home/About" class="btn btn-primary btn-md">Saznaj više &raquo;</a></p>
    </section>

    <div class="jumbotron">
        <h1>Dobrodošli na naš forum!</h1>
        <p class="lead">Kliknite ispod da se registrujete.</p>
        <p>
            @Html.ActionLink("Registracija", "Register", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>

    <div class="row">
        <section class="col-md-4" aria-labelledby="userActionsTitle">
            <h2 id="userActionsTitle">Korisničke Akcije</h2>
            <p>
                Korisnički interfejs podržava sledeće akcije:
            </p>
            <ul>
                <li>Registracija novog korisnika</li>
                <li>Logovanje postojećeg korisnika</li>
                <li>Izmena korisničkog profila</li>
                <li>Pravljenje nove teme</li>
                <li>Dodavanje komentara</li>
                <li>Pretraga i sortiranje tema</li>
                <li>Brisanje teme ili komentara</li>
                <li>Upvote / Downvote teme</li>
            </ul>
        </section>

        <section class="col-md-4" aria-labelledby="notificationServiceTitle">
            <h2 id="notificationServiceTitle">NotificationService</h2>
            <p>
                Servis za slanje mejlova pretplaćenim korisnicima kada se kreira novi komentar na temu.
                Implementiran kao zaseban servis koji obezbeđuje neometan rad sistema.
            </p>
        </section>

        <section class="col-md-4" aria-labelledby="healthMonitoringTitle">
            <h2 id="healthMonitoringTitle">HealthMonitoringService</h2>
            <p>
                Sistem za proveru dostupnosti RedditService i NotificationService servisa.
                Učestalo šalje zahteve ka servisima i beleži status u bazu podataka, sa mogućnošću slanja obaveštenja u slučaju problema.
            </p>
        </section>
    </div>
</main>
