@model RedditService.Models.UserEntity
@{
    ViewBag.Title = "Registration Successful";
}

<h2>Login Successful</h2>
<p>Welcome back, @Model.FirstName @Model.LastName!</p>
<p>
    @Html.ActionLink("ViewProfile", "ViewProfile", "Profile", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</p>
<p>
    @Html.ActionLink("CreatePost", "CreatePost", "Post", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</p>